<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Project test page</title>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <p style="margin: 10px 50px"><%=name%></p>
  <p style="margin: 10px 50px"><%=gender%></p>
  <p style="margin: 10px 50px"><%=occupation%></p>
  <% for (let i = 0; i < occupation.length; i++) { %>
    <% if (occupation[i] == "actor" ) { %>
      <p style="margin: 50px;">It is an actor!</p>
    <% } %>
  <% } %>
</body>

</html>